[submodule "picoruby"]
	path = picoruby
	url = https://github.com/picoruby/picoruby.git
[submodule "mrbgems/mruby-denko-esp32"]
	path = mrbgems/mruby-denko-esp32
	url = https://github.com/denko-rb/mruby-denko-esp32.git
